<h3>Welcome to the theme park!</h3>

<h1><%= @user.name %> </h1>
<label>Mood: </label>
<%= @user.mood %> <br>
<label>Tickets: </label>
<%= @user.tickets %> <br>
<p><label>Height: </label>
<%= @user.height %> inches</p><br>
<%= link_to "Edit", '/:id/edit' %><br>
<%= link_to "See attractions", '/attractions' %>
